<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Bidman</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">
              Cart
              <span class="badge bg-success text-light">{{ request.session.cart.keys|length }}</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex">
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Orders</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-current="page" href="/">{{ request.user.email }}</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>